@keyframes grid-pan {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(4px, -4px);
  }
  50% {
    transform: translate(0, 8px);
  }
  75% {
    transform: translate(-4px, -4px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.animate-grid-pan {
  animation: grid-pan 20s linear infinite;
}
